[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
gunicorn = "*"
psycopg2 = {extras = ["binary"], version = "*"}
flask-sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.8"
